#roundButton {
  background-color: yellow;
  margin-bottom: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 10px solid #333;
  outline: none;
  padding: 5px;
  text-align: center;
  font-size: .6rem;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
 
#roundButton:hover {
  background-color: yellowgreen;
  cursor: pointer;
  border-color: #222;
  transform: scale(1.2, 1.2);
}
 
#roundButton:active {
  border-color: #222;
  background-color: #FFF;
}