
input, textarea, select {
  order: 2;
  flex: 1 1 auto;
  color:#303030;
  font-size: 1.5em;
}
label :focus{
  color:tomato;
}
label{
  color :#303030;
  text-transform: uppercase;
  font-size: .8em;
  
}
button :hover{
  background: tomato;
}
button{
  padding: 10px 30px;
  background: #303030;
  border:0;
  color:#fff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1em;  
}
imput :focus{
    border-bottom: 2px solid tomato;
    color:tomato;
} 

input{
  display: flex;
  width:100%;
  border:0px;
  background: none;
  padding: 3px;
  border-bottom:2px solid #303030;
  outline: 0px;
  margin:20px 0px;
  font-size: 1em;
  transition: ease-in-out, border-bottom .25s ease-in-out;

}
input[type="checkbox"]{
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-top: -5px;
  padding: 5px;
}

input.afro-check[type="checkbox"] label{
    cursor: pointer;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
      color:#fff;
      background: #222;
      border: 1px solid #333;

} 

input[type="select"]{
  display: inline-block;
  width: auto;
  background: #303030;
}
input[placeholder=""]{
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  background: #303030;
}
select{
      background-color: black;
      color:#fff;
      border-radius: 0px;
      width: 50%;
      padding: 5px;
}

a.getting-started{
  padding: 10px 40px;
  background: tomato;
  border:0;
  color:#fff;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  margin-top: 50px;
}
.button-wrap{
  padding: 50px 0;
}
button.submit{
  margin: 50px 0px;
}
fieldset{
  padding: 30px 0;
  
}
textarea{
  width: 100%;
  border: 2px solid #303030;
  min-height: 140px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 1em;
}
.form-group{
  margin-bottom: 60px;
}
.marginTop60px{
  margin-top: 60px;
}

.getting-started{
  background-color: lemonchiffon;
  color:#000;
}

fieldset{
    width:100% !important;
}
.btn{
  border-radius: 0px;
  padding: 5px 30px;
}