

/* ==========================================================================
   @imports
   ========================================================================= */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


/* ==========================================================================
   Responsive images and box padding
   ========================================================================= */


img, object {
    display: block; 
    border: 0; 
    max-width: 100%; 
    height: auto;  
}

* {
    -moz-box-sizing:border-box;
    -webkit-kit-box-sizing:border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
}

/* ==========================================================================
   Main Body and Default Heading an Link styles
   ========================================================================= */

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  /* background: lightgray; */
}

h1{
  font-weight: 800;
  font-size: 4em;
}
h2{
   font-weight: 400;
   font-size: 2.5em;
   letter-spacing: -1px;
}
h3{
  font-weight: 900;
  font-size: 1.5em;
}
h4{
  font-weight: 600;
  font-size: 1.3em;
}
h5{
  font-weight: 100;
  font-size: 1.6em;
}
h6{
  font-weight: 700;
  font-size: 1em;
}

.container{
  margin: 0 auto;
  width:78%;
  margin-top:60px;
}